.collection_item_container {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px;
    grid-column-gap: 10px;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.image_container_for_collection_items {
    background-size: cover;
    height: 500px;
}

.container_for_collection_item_data {
    height: 500px;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 1fr 3fr 1fr;
    grid-row-gap: 10px;
}

.text {
    text-align: justify;
}

.container_for_price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.option {
    text-align: center;
    justify-content: center;
}